<!DOCTYPE html>
<html lang = "en">
    <head>
        <title>Крштени лист</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        

    </head>
    <body>
        <center class="row">
            <h2>Унос података у крштени лист</h2>
            <hr>
        </center>
        <div class="row">

            <div class="col-md-8">
        
            {% for i in rubrike %}
            <div class="card">
                <center><b>{{i.ime_prezime}}</b></center>
                <hr/>
                {{i.strana}}
                <hr/>
                {{i.broj}}
                <hr/>
                {{i.eparhija}}
                <hr/>
                {{i.hram}}
                <hr/>
                {{i.mjesto}}
                <hr/>
                {{i.godina}}
                <hr/>
                {{i.ime_prezime}}
                <hr/>
                {{i.datum_rođenja}}
                <hr/>
                {{i.mjesto_rođenja}}
                <br />
                <br />
                {% endfor %}
           
        </div>
        </div>

        </div>
    </body>
</html>